<!--home.hbs-->
<h1>{{title}}</h1>
<p>{{message}}</p>
<ul>
  <li><a href="/proposal">See proposal</a></li>
  <li><a href="/debug/models">See model counts</a></li>
  <li><a href="/seed">Run demo seed</a></li>
</ul>
